body {
	font: 16px/26px "Helvetica Neue", sans-serif;
	background: #fff;
	border: 0;
	/*font-weight: 400;
	font-size: 24px;*/
	line-height: 1.6;
	color: #333;
	outline: 0;
	width: 100%;
	padding: 0.2em 0.6em;
	margin: 0;
}