{% set asset_url = getAssetUrl() %}
<!doctype html>
<html>
<head>
	<title>{{ blog_name }}{% if prefix %} - {{ prefix }} {% endif %}</title>
	<meta charset="utf8" />
	<link href="{{ asset_url }}/css/normalize.css" rel="stylesheet" />
	<link href="{{ asset_url }}/css/style.css" rel="stylesheet" />
	<link href="{{ asset_url }}/css/admin.css" rel="stylesheet" />
{% for stylesheet in stylesheets %}
	<link href="{{ asset_url }}/css/{{stylesheet}}" rel="stylesheet" />
{% endfor %}
	<!--[if lt IE 9]>
		<script type="text/javascript" src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<style type="text/css">header,nav,section,article,aside,footer,hgroup,main { display: block;}</style>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<![endif]-->
	<script src="{{ asset_url }}/epiceditor/js/epiceditor.min.js"></script>
	<script src="{{ asset_url }}/scripts/editor.js"></script>
</head>
<body>
<div id="wrapper">
	<header id="top">
		{% block header %}
		{% endblock %}
	</header>
	<main>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</main>
</div>
</body>
</htm>