{% set asset_url = getAssetUrl() %}
{% set blog_name = getBlogInfo().name %}
<!doctype html>
<html>
<head>
	<title>{% if prefix %}{{ prefix }}{% endif %} &lsaquo; {{ blog_name }} &#8212; Hawalius</title>
	<meta charset="utf8" />
	<link href="{{ asset_url }}/css/normalize.css" rel="stylesheet" />
	<link href="{{ asset_url }}/css/style.css" rel="stylesheet" />
	<link href="/app/views/admin/assets/css/admin.css" rel="stylesheet" />
{% for stylesheet in stylesheets %}
	<link href="/app/views/admin/assets/css/{{stylesheet}}" rel="stylesheet" />
{% endfor %}
	<!--[if lt IE 9]>
		<script type="text/javascript" src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<style type="text/css">header,nav,section,article,aside,footer,hgroup,main { display: block;}</style>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<![endif]-->
	<script src="/app/views/admin/assets/scripts/admin.js"></script>
	<script src="/app/views/admin/epiceditor/js/epiceditor.min.js"></script>
{% for script in scripts %}
	<script src="/app/views/admin/assets/scripts/{{script}}"></script>
{% endfor %}
</head>
<body>
<div id="wrapper">
	<header id="top">
		{% if getUser() %}
		<nav class="menu" role="navigation">
			<a href="/admin" class="logo">HW</a>
			<a href="/admin/posts">Posts</a>
			<a href="/admin/pages">Pages</a>
			<a href="/admin/settings">Settings</a>
			<a href="/admin/logout">Logout</a>
		</nav>
		{% endif %}
	</header>
	<main>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</main>
	<footer id="bottom">
		<p>Powered by <a href="http://github.com/hawalius/hawalius">Hawalius</a> ({{ getGitRev() }})</p>
	</footer>
</div>
</body>
</htm>