{% extends "admin/base.html" %}
{% set user = getUser() %}
{% set prefix = 'Dashboard' %}
{% block content %}
<div id="widgets" class="grid">
	<div class="col-1-1">
		<div class="widget" id="widget_welcome">
			<h1>Welcome back, {{ user.username }}.</h1>
		</div>
	</div>
	<div class="col-1-2">
		<div class="widget" id="widget_clock"></div>
	</div>
	<div class="col-1-2">
		<div class="widget" id="widget_total">
			<h4>Posts</h4>
			<p>{{ posts.published }} published of {{ posts.total }} total</p>
			<h4>Pages</h4>
			<p>{{ pages.published }} published of {{ pages.total }} total</p>
		</div>
	</div>
</div>
{% endblock %}