#wrapper {
	width: 64%;
	max-width: 800px;
	min-width: 300px;
	margin: 0 auto;
}
#top nav {
	padding: 3em 0;
}
#top nav a {
	float: left;
	padding-right: 60px;
	color: #999;
}
#top nav a.logo {	
	float: left;
	padding-right: 60px;
	color: #000;
	font-weight: bold;
	font-size: 150%;
	text-decoration: none;
}
ul {
	list-style-type: none;
}
ul li h2 a {
	color: #181818;
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	border: 0;
	background: #000;
	color: #eee;
	line-height: 1;
	font-size: 18px;
	padding: 13px 20px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: 900;
}
input[type="text"], input[type="password"], textarea {
	border: 0;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.6;
	color: #333;
	outline: 0;
	width: 100%;
	padding: 0.2em 0.6em;
}
#post_form #editor {
	width: 100%;
	height: 100%;
	min-height: 400px;
	background: transparent;
	resize: none;
}
#post_form textarea {
	display: none;
}